- include_stylesheet 'admin/location'
.outset
  = render :partial=>'admin/locations/locations_map'
  %table#snippets.index{ :cellspacing => "0", :border => "0", :cellpadding => "0" }
    %thead
      %tr
        %th.location
          Location
        %th.info
          Address
        - if config['locations.use_groups?'] && !@locations.blank?
          %th
            Group
        %th.modify
          Modify
    %tbody
      - if @locations.length > 0
        = render :partial => "location", :collection => @locations
      - else
        %tr
          %td.note{ :colspan => "2" }
            No Locations


#actions
  %ul
    %li= link_to(image('plus', :alt => '') + ' New Location', new_admin_location_path)
